<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>LazyCoder || sumit</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
  <title>sumit</title>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br><br>
  <div>
      <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0">Medical Facilities</span>
      </nav>
    </div>
    <div class="content container">
      <div class="row">
        <div class="col-md-4">
          <div class="card-deck">
            <div class="card shadow-lg">
              <div class="card-body">
                <a href="aboutus">Medical Facilities</a
                ><br />
                <a href="opd">OPD Time</a>
                <br />
                <a href="clinictime">Clinic Laboratory Time</a>
                <br />
                <a href="emergency">Emergency Numbers</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div>
            <p style="font-size: small">
              The University Health Centre started working as a medical care
              unit in 1973 for students. Soon, the facility for consultation and
              lab investigation was extended to people who are residing in the
              campus. The Health Centre right from its inception has been to
              provide comprehensive health care i.e. preventive, curative and
              promotive services under one roof to students only. However, for
              curative purpose of all University employees there is also CGHS
              dispensary.
            </p>
          </div>
          <div>
            <h6 class="font-color"">Location</h6>
            <p style="font-size: small">
              University Health Centre (UHC) is located about 300m from the
              north gate in South West of Ganga Hostel.
            </p>
          </div>
          <div>
            <h6 class="font-color">Staff</h6>
            <p style="font-size: small">
              Dean of student is the head of the Department .The staff of the
              University Health Centre (UHC) comprises of CMO (SAG), I/C Health
              Centre and Medical Officer, part time Doctors for General OPD,
              Specialists, a Homeopathic Physician, a Staff Nurse, Pharmacists,
              a Senior Technical Assistant, a Technical Assistant and other
              supportive staff, functions under the overall supervision and
              administrative control of the Chief Medical Officer (SAG), I/C
              Health Centre. It also has staff for control for
              mosquito-borne-disease.
            </p>
          </div>
          <div>
            <h6 class="font-color">
              OPD Services(OPD registration is compulsary)
            </h6>
            <ol>
              <li><p style="font-size: small">
                Doctors of the University Health Centre provide primary health
                care. The student can just walk in for consultations and
                treatment.
              </p></li>
              <li><p style="font-size: small">
                Homeopathic physician provides services in homeopathic system of
                medicine.
              </p></li>
              <li><p style="font-size: small">
                Medicines are provided free of cost to students and retired
                employees from the pharmacy of the Health Centre as per
                University rule.
              </p></li>
              <li><p style="font-size: small">
                Laboratory facility provides spectrum of routinely available
                Hematological, Biochemical and Microbiology tests.
              </p></li>
              <li><p style="font-size: small">Routine Immunization (only for tetanus).</p></li>
              <li><p style="font-size: small">
                Referral services to public hospitals for specialized
                treatment/hospitalization and other services which are not
                covered by the U.H.C
              </p></li>
              <li><p style="font-size: small">
                Medical examinations for academic pursuits in the university.
              </p></li>
              <li><p style="font-size: small">
                The families (wife and children only) of married students can
                avail of such medical facilities as are available at the Health
                Centre on payment of medical fees for the family. They are
                provided with medicines which are available in the Health
                Centre. The Student may contact the Health Centre to get further
                information. In case of spouse of female student medical
                facility is provided up to the age of 25years or till they start
                earning, which ever may be earlier
              </p></li>
              <li><p style="font-size: small">
                When the Health Centre is not open, all the patients are advised
                to go to government hospital or any other hospital. No
                reimbursement is permissible for students as per UGC norms.
              </p></li>
            </ol>
          </div>
          <div>
            <h6 class="font-color">Reimbursement of Ambulance Charges</h6>
            <p style="font-size: small">One ICU Ambulance and one Patient Transport Vehicle is available at the Health Centre for 24 hours.

Ambulances are under administrative control of Associate Dean of Students.

The Billing, Patient Log Book, Calculation of Kilometer, Attendance of ambulance, GPS monitoring, Tendering process etc. are under Chief Security Officer/Transport Officer.

JNU Health Centre checks the functioning of instruments, equipment and medicines inside the ambulances from time to time. Health Centre also provides some medicines and First Aid material for doctor on night duty who is an employee of ambulance service provider. Bill of ambulances is processed by the Security/Transport Department. Doctors of Health Centre only give their opinion regarding functionality of ambulances and further rests of the things are done by respective competent authorities.
            </p>
          </div>
          <div>
            <h6 class="font-color">Services not Covered</h6>
            <p style="font-size: small">
              Dean of student is the head of the Department .The staff of the
              University Health Centre (UHC) comprises of CMO (SAG), I/C Health
              Centre and Medical Officer, part time Doctors for General OPD,
              Specialists, a Homeopathic Physician, a Staff Nurse, Pharmacists,
              a Senior Technical Assistant, a Technical Assistant and other
              supportive staff, functions under the overall supervision and
              administrative control of the Chief Medical Officer (SAG), I/C
              Health Centre. It also has staff for control for
              mosquito-borne-disease.
            </p>
          </div>
          <div>
            <h6 class="font-color">Staff</h6>
            <ol>
            <li><p style="font-size: small">Dental services like making of denture, root canal treatment etc.</p></li>
            <li><p style="font-size: small">
Medical examination/certifications for employment out side JNU, insurance, legal and other non-academic purpose.</p></li>
            <li><p style="font-size: small">Laboratory tests and X-ray for purpose other than diagnosis and treatment.</p></li>
            </ol>
          </div>
          <div>
            <h6 class="font-color">Timings</h6>
            <p style="font-size: small">The University Health Centre functions from 8a.m to 2 p.m(Morning OPD) and from 3 p.m to 9 p.m (Evening OPD) w.e.f. 16/06/2016 on all working days from Monday to Saturday. In the evening, the part-time doctors provide services and essential medicines are provided to meet the immediate needs of the students. Holi. Diwali, Sundays and National Holidays presently are observed as closed holidays. Health Centre functions between 8 A.M. to 2 P.M. on Gazzetted holidays. Health Centre will remain closed from 2 pm to 3pm instead of 2pm to 4pm
            </p>
          </div>
          <div>
            <h6 class="font-color">Health Service Fee</h6>
            <p style="font-size: small">
              Payment of health service fee of Rs. 9/- annual is compulsory for all full-time students. Duplicate medical booklets are issued free of cost to the students.
            </p>
          </div>
          <div>
            <h6 class="font-color">Medical Facilities to Foreign Students</h6>
            <p style="font-size: small">
              Foreign students are extended medical facilities at par with the Indian students. The foreign student who wish to avail of nursing home/ private hospital facilities may obtain medical insurance cover at their expense to meet medical expenses on hospitalization etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  {% include "hospital/footer.html" %}
</body>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

</html>
